<h1>Posts#new</h1>

<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<hr>
<% if current_user %> 
	<h5>Post a post below</h5>
	<%= form_for [@post] do |f| %>
		<%= f.text_area :body %><br>
		<%= f.submit %>
	<% end %>
<% else %>
	<h5><%= link_to 'Login', login_path %> to comment!</h5>
<% end%>

<% @post.comments.each do |comment| %>
	<p><%= comment.body %> (<%= comment.user.name %>)</p>
<% end %>